<template>
    <div class="ui basic fluid segment">
        <h4 class="ui blue header">
            <i class="telegram plane icon"></i>
            <div class="content">
                Telegram
                <div class="sub header">Настройка уведомлений<span>{{status}}</span></div>
            </div>
        </h4>
        <div class="ui active loader" v-if="isLoading"></div>
        <div v-if="!isLoading">
            <div v-if="!showVerify">
                <button class="ui tiny primary button" v-if="!connectedToTelegram" @click="connect" v-bind:class="{ loading: isLoadingConnect }">Подключить</button>
                <button class="ui tiny primary button" v-if="connectedToTelegram" @click="connect" v-bind:class="{ loading: isLoadingConnect }">Переподключить</button>
            </div>
            <div v-if="showVerify">
                Добавьте бота @idriver_bot и отправьте {{link}}
                <br><br>
                <button class="ui tiny green button" @click="verify" v-bind:class="{ loading: isLoadingVerify }" >Подтвердить</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {start, verify, connected} from '../../api/telegram'
    export default {
        name: 'Telegram',
        data () {
            return {
                status: '',
                isLoading : true,
                isLoadingConnect: false,
                isLoadingVerify: false,
                connectedToTelegram: false,
                showVerify: false,
                link: '',
            }
        },
        methods: {
            connect: function () {
                this.isLoadingConnect = true
                start().then(link => {
                        this.link = link
                        this.showVerify = true
                        this.isLoadingConnect = false
                    }
                ).catch(err => {
                    this.isLoadingConnect = false
                })
            },
            verify: function () {
                this.isLoadingVerify = true
                verify().then(res => {
                    this.isLoadingVerify = false
                    this.showVerify = false
                    this.status = ' - подключены'
                    this.connectedToTelegram = true
                }).catch(err => {
                    this.isLoadingVerify = false
                })
            }
        },
        created() {
            connected().then(connected => {
                if (connected) {
                    this.connectedToTelegram = true
                    this.status = ' - подключены'
                } else {
                    this.connectedToTelegram = false
                    this.status = ' - не подключены'
                }
                this.isLoading = false;

            }).catch(err => {
                console.log(err)
            })
        },

    }
</script>