<template>
        <sui-sidebar-pushable>
            <sui-sidebar class="" direction="left" animation="overlay" v-bind:visible="sidebarVisible" >
                <sui-menu-item header>Меню</sui-menu-item>
                <router-link class="item" v-bind:class="{ active: this.$route.name=='Home' }" :to="{ name: 'Home'}">Новости<i class="home icon"></i></router-link>
                <!--<router-link v-if="isDriver" class="item" v-bind:class="{ active: this.$route.name=='Driver' }" :to="{ name: 'Driver'}">Водитель<i class="user icon"></i></router-link>-->
                <router-link v-if="isDriver" class="item" v-bind:class="{ active: this.$route.name=='Payment' }" :to="{ name: 'Payment'}">Начисления и выплаты<i class="ruble sign icon"></i></router-link>
                <router-link v-if="isDriver" class="item" v-bind:class="{ active: this.$route.name=='Claims' }" :to="{ name: 'Claims'}">Заявки на вывод средств<i class="list alternate outline icon"></i></router-link>
                <router-link v-if="isManager" class="item" v-bind:class="{ active: this.$route.name=='Manager' }" :to="{ name: 'Manager'}">Менеджер<i class="user icon"></i></router-link>
                <router-link v-if="isManager" class="item" v-bind:class="{ active: this.$route.name=='Transactions' }" :to="{ name: 'Transactions'}">Начисления и выплаты<i class="ruble sign icon"></i></router-link>
                <router-link v-if="isManager" class="item" v-bind:class="{ active: this.$route.name=='DriverClaims' }" :to="{ name: 'DriverClaims'}">Заявки на вывод средств<i class="list alternate outline icon"></i></router-link>
                <router-link v-if="isManager" class="item" v-bind:class="{ active: this.$route.name=='Drivers' }" :to="{ name: 'Drivers'}">Водители<i class="users icon"></i></router-link>
                <router-link v-if="isManager" class="item" v-bind:class="{ active: this.$route.name=='PaymentReport' }" :to="{ name: 'PaymentReport',params: { onlyPaymentsProp: true }}">Выплаты отчет</router-link>
                <router-link v-if="isManager" class="item" v-bind:class="{ active: this.$route.name=='GettReport' }" :to="{ name: 'GettReport', params: { onlyPaymentsProp: false }}">Gett отчет</router-link>

                <router-link v-if="isAdmin" class="item" v-bind:class="{ active: this.$route.name=='Admin' }" :to="{ name: 'Admin'}">Администратор<i class="user icon"></i></router-link>
                <router-link v-if="isAdmin" class="item" v-bind:class="{ active: this.$route.name=='Users' }" :to="{ name: 'Users'}">Пользователи<i class="users icon"></i></router-link>
            </sui-sidebar>
            <sui-sidebar-pusher @click="hideSidebar" v-bind:dimmed="sidebarVisible">
                <sui-menu secondary pointing color="blue">

                    <sui-menu-item v-if="isAuthenticated" >
                        <sui-button @click.stop.prevent="showSidebar" icon="bars" size="medium" color="blue" />
                    </sui-menu-item>
                    <sui-menu-menu position="right">
                        <sui-menu-item right v-if="isAuthenticated" v-on:click="logout">
                            <sui-button basic>Выход</sui-button>
                        </sui-menu-item>
                        <sui-menu-item v-bind:class="{ active: this.$route.name=='Login' }" right v-if="!isAuthenticated">
                            <router-link  :to="{ name: 'Login'}">Вход</router-link>
                        </sui-menu-item>
                    </sui-menu-menu>
                </sui-menu>
                <sui-container>
                    <router-view></router-view>
                </sui-container>
            </sui-sidebar-pusher>
        </sui-sidebar-pushable>

</template>

<script>

    import {AUTH_LOGOUT} from '../store/consts/auth'
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex'

    export default {
        name: 'App',
        data() {
            return {
                sidebarVisible: false
            }
        },
        methods: {
            logout: function () {
                this.$store.dispatch(AUTH_LOGOUT).then(() => {
                    this.$router.push('/login')
                })
            },
            hideSidebar: function () {
                this.sidebarVisible = false
            },
            showSidebar: function () {
                this.sidebarVisible = true
            }
        },
        computed: {
            ...mapGetters([
                'isAuthenticated',
                'isDriver',
                'isManager',
                'isAdmin',
                'getName'
            ]),
            currentRoute: function () {
                return this.$router.currentRoute.name;
            }
        },
    }

</script>

<style>
</style>