<template>
    <div>
        <sui-accordion fluid exclusive styled>
            <sui-accordion-content>
                <sui-form @submit.prevent="submit" size="tiny" fluid>
                    <sui-form-fields fields="four">
                        <sui-form-field>
                            <label>{{ label_closed }}</label>
                            <sui-checkbox :label="label_closed" toggle v-model="closed"/>
                        </sui-form-field>
                    </sui-form-fields>
                    <sui-button :loading="isLoading"  type="submit">Обновить</sui-button>
                    <router-link class="ui primary button" :to="{ name: 'Claim'}">Создать новую заявку</router-link>
                </sui-form>
            </sui-accordion-content>
        </sui-accordion>
        <sui-item-group divided unstackable>
            <sui-item v-for="item in items" :key="item.id">
                    <sui-item-content>
                        <sui-item-header>Заявка № {{item.id}}
                                <span v-if="item.closed && item.success">Перевод выполнен</span>
                                <span v-if="item.closed && !item.success">Перевод не выполнен</span>
                        </sui-item-header>
                        <sui-item-meta>
                            <span class="price">{{item.common_transfer}} руб.</span>
                            <span class="stay right floated">{{item.created_at}}</span>
                        </sui-item-meta>
                        <sui-item-description v-if="!item.station_transaction">
                            Ситимобил: <b>{{item.citymobil_transfer}} руб.</b> <br>
                            Яндекс: <b>{{item.yandextaxi_transfer}} руб.</b> <br>
                            Gett: <b>{{item.gett_transfer}} руб.</b> <br>
                            Комментарий: <b>{{item.driver_comment}}</b>
                        </sui-item-description>
                        <sui-item-description v-if="item.closed">
                            Комментарий менеджера: <b>{{item.manager_comment}}</b>
                        </sui-item-description>
                    </sui-item-content>
            </sui-item>
            <infinite-loading @infinite="infiniteHandler" :identifier="lastFilterUpdateMoment">
                <div slot="spinner">
                    <div class="ui active centered inline loader"></div>
                </div>
                <div slot="no-more" >Ничего не найдено</div>
                <div slot="error" slot-scope="{ trigger }">
                    Произошла ошибка, нажмите <a href="javascript:" @click="trigger">здесь</a> для повторной загрузки
                </div>
            </infinite-loading>
        </sui-item-group>

    </div>

</template>

<script>
    import {claims, balance} from '../../api/driver'
    import InfiniteLoading from 'vue-infinite-loading';


    export default {
        components: {
            InfiniteLoading
        },
        name: 'Claims',
        data() {
            return {
                closed: true,
                page: 1,
                isLoading: true,
                items: [],
                lastFilterUpdateMoment: Date.now()
            }
        },
        computed: {
            label_closed : function () {
                return !this.closed ? 'Только закрытые заявки' : 'Только открытые заявки'
            }
        },
        methods: {
            submit: function () {
                this.isLoading = true
                this.items = []
                this.lastFilterUpdateMoment = Date.now()
                this.page = 1
            },

            infiniteHandler($state) {
                claims(this.page, !this.closed).then(({data, page}) => {
                    if (data.length) {
                        console.log(data)
                        this.items.push(...data)
                        this.page = page + 1
                        $state.loaded()
                    }
                    else {
                        $state.complete()
                    }
                }).catch(() => {
                    $state.error()
                }).finally(() => {
                    this.isLoading = false
                })
            },
        },

    }
</script>