<template>
    <sui-form @submit.prevent="submit" v-bind:loading="isLoading">
        <sui-form-field v-bind:error="$v.citymobil_transfer.$error">
            <label>Перевести с ситимобил (текущий баланс {{ citymobil_balance }})</label>
            <div class="ui left icon input">
                <input type="number" v-model="citymobil_transfer" v-model.trim="$v.citymobil_transfer.$model"
                       placeholder="0">
                <i class="ruble sign icon"></i>
            </div>
            <sui-label v-if="$v.citymobil_transfer.$error" basic color="red" pointing>Введите число</sui-label>
        </sui-form-field>

        <sui-form-field v-bind:error="$v.yandex_transfer.$error">
            <label>Перевести с яндекса (текущий баланс {{ yandex_balance }})</label>
            <div class="ui left icon input">
                <input type="number" v-model="yandex_transfer" v-model.trim="$v.yandex_transfer.$model" placeholder="0">
                <i class="ruble sign icon"></i>
            </div>
            <sui-label v-if="$v.yandex_transfer.$error" basic color="red" pointing>Введите число</sui-label>
        </sui-form-field>

        <sui-form-field v-bind:error="$v.gett_transfer.$error">
            <label>Перевести с gett (текущий баланс {{ gett_balance }})</label>
            <div class="ui left icon input">
                <input type="number" v-model="gett_transfer" v-model.trim="$v.gett_transfer.$model" placeholder="0">
                <i class="ruble sign icon"></i>
            </div>
            <sui-label v-if="$v.gett_transfer.$error" basic color="red" pointing>Введите число</sui-label>
        </sui-form-field>

        <sui-form-field v-bind:error="$v.driver_comment.$error">
            <label>Комментарий</label>
            <div class="ui left icon input">
                <input v-model="driver_comment" v-model.trim="$v.driver_comment.$model" placeholder="">
                <i class="comment outline icon"></i>
            </div>
            <sui-label v-if="$v.driver_comment.$error" basic color="red" pointing>
                Длинна комментария не должна превышать 250 символов
            </sui-label>
        </sui-form-field>

        <sui-message v-if="serverErrors.length > 0" color="red" v-html="serverErrors.join('<br>')"/>
        <sui-button basic type="submit">Создать</sui-button>
    </sui-form>
</template>

<script>
    import {maxLength, decimal} from 'vuelidate/lib/validators'
    import {createClaim, balance} from '../../api/driver'

    export default {

        name: 'Claim',
        data() {
            return {
                driver_comment: '',
                citymobil_transfer: 0,
                citymobil_balance: 0,
                yandex_transfer: 0,
                yandex_balance: 0,
                gett_transfer: 0,
                gett_balance: 0,
                isLoading: false,
                serverErrors: []
            }
        },
        validations: {
            driver_comment: {
                maxLength: maxLength(255),
            },
            citymobil_transfer: {
                decimal,
            },
            yandex_transfer: {
                decimal
            },
            gett_transfer: {
                decimal
            },
        },
        methods: {
            submit: function () {
                this.$v.$touch()
                if (!this.$v.$invalid && !this.isLoading) {
                    this.isLoading = true
                    createClaim(this.driver_comment, this.citymobil_transfer, this.yandex_transfer, this.gett_transfer).then((data) => {
                        this.isLoading = false
                        this.$router.push('/claims')
                    }).catch((err) => {
                        this.isLoading = false
                    })
                }
            },
        },
        created() {
            balance().then((balance) => {
                this.citymobil_balance = balance.citymobil
                this.yandex_balance = balance.yandex
                this.gett_balance = balance.gett
            }).catch(() => {

            })
        }
    }
</script>