<template>
    <div>
        <telegram></telegram>
    </div>

</template>

<script>
    import Telegram from '../Telegram/Telegram.vue'
    export default {
        components: {
            Telegram
        },
        name: 'Driver',
    }
</script>