<template>
    <div>
        <sui-accordion fluid exclusive styled>
            <sui-accordion-title active>
                <sui-icon name="dropdown"/>
                Баланс
            </sui-accordion-title>
            <sui-accordion-content active>
                Общий: {{balance_common}}<br>
                Яндекс: {{balance_yandex}}<br>
                Gett: {{balance_gett}}<br>
                Ситимобил: {{balance_citymobil}}<br>
            </sui-accordion-content>
            <sui-accordion-title>
                <sui-icon name="dropdown"/>
                Параметры
            </sui-accordion-title>
            <sui-accordion-content>
                <sui-form @submit.prevent="submit" size="tiny" fluid>
                    <sui-form-fields fields="four">
                        <sui-form-field>
                            <label>Агрегаторы</label>
                            <aggregators v-on:input="changeAggregators"></aggregators>
                        </sui-form-field>
                        <sui-form-field>
                            <label>Дата начала</label>
                            <date-picker :language="ru" v-model="dateLess"></date-picker>
                        </sui-form-field>
                        <sui-form-field>
                            <label>Дата окончания</label>
                            <date-picker :language="ru" v-model="dateMore"></date-picker>
                        </sui-form-field>
                    </sui-form-fields>
                    <sui-button :loading="isLoading" primary type="submit">Обновить</sui-button>
                </sui-form>
            </sui-accordion-content>
        </sui-accordion>
        <sui-item-group divided unstackable>
            <sui-item v-for="item in items" :key="item.id" class="red">
                <sui-item-image size="tiny" :src="item.aggregator_image"/>
                <sui-item-content>
                    <sui-item-header v-if="item.station_transaction">{{item.aggregator_name}}</sui-item-header>
                   <sui-item-meta>
                        <span class="price">{{item.amount}}</span>
                        <span class="stay right floated">{{item.date}}</span>
                    </sui-item-meta>
                    <sui-item-description v-if="item.is_citymobil">
                        Сумма: <b>{{item.amount}} </b> <br>
                        Комментарий: <b>{{item.comment}}</b>
                    </sui-item-description>
                    <sui-item-description v-if="item.is_gett && !item.is_ride">
                        Сумма: <b>{{item.amount}}</b> <br>
                        Комментарий: <b>{{item.comment}}</b>
                    </sui-item-description>
                    <sui-item-description v-if="item.is_gett && item.is_ride">
                        <span v-if="item.tariff_driver_wo_tips > 0">Поездка: <b>{{item.ride_id}}</b><br></span>
                        <span v-if="item.ride_id">Стоимость без чаевых: <b>{{item.tariff_driver_wo_tips}}</b><br></span>
                        <span v-if="item.ride_tips > 0">Чаевые: <b>{{item.ride_tips}}</b><br></span>
                        <span v-if="item.collected_from_client > 0">Наличные: <b>{{item.collected_from_client}}</b><br></span>
                        <span v-if="item.parking_cost > 0">Парковка: <b>{{item.parking_cost}}</b><br></span>
                        <span v-if="item.aggregator_commission > 0">% Gett: <b>{{item.aggregator_commission}}</b><br></span>
                        <span v-if="item.station_commission > 0">% Парка: <b>{{item.station_commission}}</b><br></span>
                        <span v-if="item.amount > 0">На баланс: <b>{{item.amount}}</b><br></span>
                    </sui-item-description>
                    <sui-item-extra>
                        {{item.station_name}}
                    </sui-item-extra>
                </sui-item-content>
            </sui-item>

            <infinite-loading @infinite="infiniteHandler" :identifier="lastFilterUpdateMoment">
                <div slot="spinner">
                    <div class="ui active centered inline loader"></div>
                </div>
                <div slot="no-more" >Ничего не найдено</div>
                <div slot="error" slot-scope="{ trigger }">
                    Произошла ошибка, нажмите <a href="javascript:;" @click="trigger">здесь</a> для повторной загрузки
                </div>
            </infinite-loading>
        </sui-item-group>

    </div>

</template>

<script>
    import DatePicker from 'vuejs-datepicker'
    import {ru} from 'vuejs-datepicker/dist/locale'
    import Aggregators from '../Utils/Form/Aggregators.vue'
    import {transactions, balance} from '../../api/driver'
    import InfiniteLoading from 'vue-infinite-loading';


    export default {
        components: {
            Aggregators,
            DatePicker,
            InfiniteLoading
        },
        name: 'Payment',
        data() {
            return {
                aggregators: [],
                dateMore: '',
                dateLess: '',
                ru: ru,
                page: 1,
                isLoading: true,
                items: [],
                balance_citymobil: 0,
                balance_yandex: 0,
                balance_common: 0,
                balance_gett: 0,
                lastFilterUpdateMoment: Date.now()
            }
        },
        methods: {
            changeAggregators: function (event) {
                this.aggregators = event
            },
            submit: function () {
                this.isLoading = true
                this.items = []
                this.lastFilterUpdateMoment = Date.now()
                this.page = 1
            },

            infiniteHandler($state) {
                transactions(this.page, this.aggregators, this.dateMore, this.dateLess).then(({data, page}) => {
                    if (data.length) {
                        console.log(data)
                        this.items.push(...data)
                        this.page = page + 1
                        $state.loaded()
                    }
                    else {
                        $state.complete()
                    }
                }).catch(() => {
                    $state.error()
                }).finally(() => {
                    this.isLoading = false
                })
            },
        },
        created() {
            balance().then((balance) => {
                this.balance_citymobil = balance.citymobil
                this.balance_yandex = balance.yandex
                this.balance_common = balance.common
                this.balance_gett = balance.gett
            }).catch(() => {

            })
        }


    }
</script>