<template>
    <div>
        <sui-accordion fluid exclusive styled>
            <sui-accordion-content>
                <sui-form @submit.prevent="submit" size="tiny" fluid>
                    <sui-form-fields fields="four">
                        <sui-form-field>
                            <label>Агрегаторы</label>
                            <aggregators v-on:input="changeAggregators"></aggregators>
                        </sui-form-field>
                        <sui-form-field>
                            <label>Водители</label>
                            <select-drivers v-on:input="changeDrivers"></select-drivers>
                        </sui-form-field>
                        <sui-form-field>
                            <label>Дата начала</label>
                            <date-picker :language="ru" v-model="dateLess"></date-picker>
                        </sui-form-field>
                        <sui-form-field>
                            <label>Дата окончания</label>
                            <date-picker :language="ru" v-model="dateMore"></date-picker>
                        </sui-form-field>
                       <!-- <sui-form-field>
                            <label>Только выплаты</label>
                            <sui-checkbox
                                    toggle
                                    label="Только выплаты"
                                    v-model="onlyPayments" />
                        </sui-form-field>-->
                    </sui-form-fields>
                    <sui-button :loading="isLoading" primary type="submit">Обновить</sui-button>
                </sui-form>
            </sui-accordion-content>
        </sui-accordion>
        <sui-item-group divided unstackable>
            <sui-table celled striped>
                <sui-table-header>
                    <sui-table-row>
                        <sui-table-header-cell>Водитель</sui-table-header-cell>
                        <sui-table-header-cell>Агрегатор</sui-table-header-cell>
                        <sui-table-header-cell>Дата</sui-table-header-cell>
                        <sui-table-header-cell>Сумма на баланс</sui-table-header-cell>
                        <sui-table-header-cell>Коммисия агрегатора</sui-table-header-cell>
                        <sui-table-header-cell>Коммисия парка</sui-table-header-cell>
                        <sui-table-header-cell>Чаевые</sui-table-header-cell>
                        <sui-table-header-cell>Получено от клиента</sui-table-header-cell>
                        <sui-table-header-cell>Тарифф для водителя без чаевых</sui-table-header-cell>
                        <sui-table-header-cell>Парковка</sui-table-header-cell>
                    </sui-table-row>
                    <sui-table-row>
                        <sui-table-header-cell></sui-table-header-cell>
                        <sui-table-header-cell></sui-table-header-cell>
                        <sui-table-header-cell></sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(amount * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(aggregator_commission * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(station_commission * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(ride_tips * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(collected_from_client * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(tariff_driver_wo_tips * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(parking_cost * 100) / 100}}</sui-table-header-cell>
                    </sui-table-row>
                </sui-table-header>

                <sui-table-body>
                    <sui-table-row v-for="item in items" :key="item.id">
                        <sui-table-cell>
                            <router-link :to="{ name: 'UpdateDriver', params: { id: item.driver_id }}"> {{item.driver_name}}</router-link>
                        </sui-table-cell>
                        <sui-table-cell>{{item.aggregator_name}}</sui-table-cell>
                        <sui-table-cell>{{item.date}}</sui-table-cell>
                        <sui-table-cell>{{item.amount}}</sui-table-cell>
                        <sui-table-cell>{{item.aggregator_commission}}</sui-table-cell>
                        <sui-table-cell>{{item.station_commission}}</sui-table-cell>
                        <sui-table-cell>{{item.ride_tips}}</sui-table-cell>
                        <sui-table-cell>{{item.collected_from_client}}</sui-table-cell>
                        <sui-table-cell>{{item.tariff_driver_wo_tips}}</sui-table-cell>
                        <sui-table-cell>{{item.parking_cost}}</sui-table-cell>
                    </sui-table-row>
                </sui-table-body>

                <sui-table-footer>
                    <sui-table-row>
                        <sui-table-header-cell></sui-table-header-cell>
                        <sui-table-header-cell></sui-table-header-cell>
                        <sui-table-header-cell></sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(amount * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(aggregator_commission * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(station_commission * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(ride_tips * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(collected_from_client * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(tariff_driver_wo_tips * 100) / 100}}</sui-table-header-cell>
                        <sui-table-header-cell>{{Math.floor(parking_cost * 100) / 100}}</sui-table-header-cell>
                    </sui-table-row>
                </sui-table-footer>
            </sui-table>

            <sui-item  class="red">
            </sui-item>
        </sui-item-group>
    </div>
</template>

<script>
    import DatePicker from 'vuejs-datepicker'
    import {ru} from 'vuejs-datepicker/dist/locale'
    import Aggregators from '../../Utils/Form/Aggregators.vue'
    import SelectDrivers from '../../Utils/Form/SelectDrivers.vue'
    import {payments} from '../../../api/report'

    export default {
        components: {
            Aggregators,
            DatePicker,
            SelectDrivers
        },
        props: [
            'onlyPaymentsProp'
        ],
        name: 'Payment',
        data() {
            return {
                aggregators: [],
                drivers: [],
                dateMore: '',
                dateLess: '',
                ru: ru,
                isLoading: false,
                items: [],
                onlyPayments: true,
                amount: 0,
                aggregator_commission: 0,
                station_commission: 0,
                ride_tips: 0,
                collected_from_client: 0,
                tariff_driver_wo_tips: 0,
                parking_cost: 0,
            }
        },
        methods: {
            changeAggregators: function (event) {
                this.aggregators = event
            },
            changeDrivers: function (event) {
                this.drivers = event
            },
            submit: function () {
                if (!this.isLoading) {
                    this.items = [];
                    this.amount = 0;
                    this.aggregator_commission = 0;
                    this.station_commission = 0;
                    this.ride_tips = 0
                    this.collected_from_client = 0;
                    this.tariff_driver_wo_tips = 0;
                    this.parking_cost =  0;
                    this.isLoading = true;
                    payments(this.aggregators, this.dateMore, this.dateLess, this.onlyPaymentsProp, this.drivers).then((data) => {
                        console.log(data)
                        data.forEach((elem) => {
                            this.amount = this.amount + +elem.amount;
                            this.aggregator_commission = this.aggregator_commission + +elem.aggregator_commission;
                            this.station_commission = this.station_commission + +elem.station_commission;
                            this.ride_tips = this.ride_tips + +elem.ride_tips;
                            this.collected_from_client = this.collected_from_client + +elem.collected_from_client;
                            this.tariff_driver_wo_tips = this.tariff_driver_wo_tips +  +elem.tariff_driver_wo_tips;
                            this.parking_cost =  this.parking_cost +  +elem.parking_cost;
                        });
                        this.items.push(...data)
                    }).catch((err) => {
                        console.log(err)
                    }).finally(() => {
                        this.isLoading = false
                    })
                }
            },
        },
    }
</script>