<template>
    <sui-dropdown
        placeholder="Выберите агрегатор"
        selection
        :options="options"
        v-bind:loading="loading"
        search
        allow-additions
        multiple
        v-model="current"
        v-on:input="change"
    />
</template>

<script>
    import { aggregators } from '../../../api/utils'
    export default {
        name: 'aggregators',

        data() {
            return {
                current: null,
                options: [],
                loading: true
            }
        },
        methods: {
            change: function () {
                this.$emit('input', this.current)
            }
        },
        created() {
            aggregators().then(resp => {
                resp.data.forEach((elem) => {
                    this.options.push({
                        key: elem.id,
                        value: elem.id,
                        text: elem.name
                    })
                })
                this.loading = false
            })
        }

    }
</script>