<template>
    <sui-dropdown
        placeholder="Выберите водителя Gett"
        selection
        :options="options"
        v-bind:loading="loading"
        search
        allow-additions
        v-model="current"
        v-on:input="change"
    />
</template>

<script>
    import { gettDrivers } from '../../../api/manager'
    export default {
        name: 'GettDrivers',
        props: ['current_id'],
        data() {
            return {
                current: null,
                options: [function _default() { return []; }],
                loading: true
            }
        },
        methods: {
            change: function () {
                this.$emit('input', this.current)
            }
        },
        created() {
            gettDrivers().then((resp) => {
                resp.drivers.forEach((elem) => {
                    this.options.push({
                        key: elem.id,
                        value: elem.id,
                        text: elem.name
                    })
                    if (this.current_id) this.current = this.current_id
                })
                this.loading = false
            }).catch((err) => {
                console.log(err)
            })
        }

    }
</script>