<template>
    <sui-dropdown
        placeholder="Выберите водителя"
        selection
        :options="options"
        v-bind:loading="loading"
        search
        allow-additions
        multiple
        v-model="current"
        v-on:input="change"
    />
</template>

<script>
    import { allDrivers } from '../../../api/manager'
    export default {
        name: 'select-drivers',

        data() {
            return {
                current: null,
                options: [],
                loading: true
            }
        },
        methods: {
            change: function () {
                this.$emit('input', this.current)
            }
        },
        created() {
            allDrivers().then(data => {
                data.forEach((elem) => {
                    this.options.push({
                        key: elem.id,
                        value: elem.id,
                        text: elem.name
                    })
                })
                this.loading = false
            })
        }

    }
</script>