<template>
    <sui-form @submit.prevent="submit" v-bind:loading="isLoading">
        <sui-form-field v-bind:error="$v.email.$error" required>
            <label>Email</label>
            <div class="ui left icon input">
                <input v-model="email" v-model.trim="$v.email.$model" placeholder="ivanov.ivan@mail.ru" >
                <i class="at icon"></i>
            </div>
            <sui-label v-if="$v.email.$error" basic color="red" pointing>Введите Email</sui-label>
        </sui-form-field>
        <sui-form-field v-bind:error="$v.phone.$error" required>
            <label>Телефон</label>
            <div class="ui left icon input">
                <input type="tel" v-model="phone" v-model.trim="$v.phone.$model" placeholder="9990002255" maxlength="10" minlength="10">
                <i class="phone icon"></i>
            </div>
            <sui-label v-if="$v.phone.$error" basic color="red" pointing>Введите телефон в формате 9990002255 (без 8 и +7)</sui-label>
        </sui-form-field>
        <sui-form-field v-bind:error="$v.username.$error" required>
            <label>ФИО</label>
            <div class="ui left icon input">
                <input v-model.trim="$v.username.$model" placeholder="Иванов Иван Иванович" >
                <i class="at user icon"></i>
            </div>
            <sui-label v-if="$v.username.$error" basic color="red" pointing>Введите ФИО</sui-label>
        </sui-form-field>
        <sui-form-field v-bind:error="$v.citymobil_id.$error" required>
            <label>Водитель ситимобил</label>
            <citymobil-drivers v-on:input="changeCitymobilDriver"></citymobil-drivers>
            <sui-label v-if="$v.citymobil_id.$error" basic color="red" pointing>Выберите водителя Ситимобил</sui-label>
        </sui-form-field>
        <sui-form-field v-bind:error="$v.yandextaxi_id.$error" required>
            <label>Водитель яндекс такси</label>
            <yandextaxi-drivers v-on:input="changeYandextaxiDriver"></yandextaxi-drivers>
            <sui-label v-if="$v.yandextaxi_id.$error" basic color="red" pointing>Выберите водителя яндекс такси</sui-label>
        </sui-form-field>
        <sui-form-field v-bind:error="$v.gett_id.$error" required>
            <label>Водитель Gett</label>
            <gett-drivers v-on:input="changeGettDriver"></gett-drivers>
            <sui-label v-if="$v.gett_id.$error" basic color="red" pointing>Выберите водителя Gett</sui-label>
        </sui-form-field>

        <sui-form-field>
            <label>ИНН</label>
            <div class="ui  input">
                <input type="text" v-model="inn">
            </div>
        </sui-form-field>
        <sui-form-field>
            <label>КПП</label>
            <div class="ui input">
                <input type="text" v-model="kpp">
            </div>
        </sui-form-field>
        <sui-form-field>
            <label>Счет получателя</label>
            <div class="ui input">
                <input type="text" v-model="bank_acnt">
            </div>
        </sui-form-field>
        <sui-form-field>
            <label>Бик банка</label>
            <div class="ui  input">
                <input type="text" v-model="bank_bik">
            </div>
        </sui-form-field>

        <sui-form-field>
            <label>Название платежа</label>
            <div class="ui input">
                <input type="text" v-model="payment_purpose">
            </div>
        </sui-form-field>

        <sui-form-field v-bind:error="$v.password.$error" required>
            <label>Пароль</label>
            <div class="ui left icon input">
                <input v-model.trim="$v.password.$model" type="password" placeholder="Введите пароль" >
                <i class="lock icon"></i>
            </div>
            <sui-label v-if="$v.password.$error" basic color="red" pointing>Пароль должен быть не менее 6 символов</sui-label>
        </sui-form-field>
        <sui-form-field v-bind:error="$v.password_confirmation.$error" required>
            <label>Подтверждение пароля</label>
            <div class="ui left icon input">
                <input v-model.trim="$v.password_confirmation.$model" type="password" placeholder="Введите пароль еще раз" >
                <i class="lock icon"></i>
            </div>
            <sui-label v-if="$v.password_confirmation.$error" basic color="red" pointing>Пароли должны совпадать</sui-label>
        </sui-form-field>
        <sui-message v-if="serverErrors.length > 0" color="red" v-html="serverErrors.join('<br>')"/>
        <sui-button basic type="submit">Создать</sui-button>
    </sui-form>

</template>

<script>
    import {email, required, sameAs, minLength, maxLength, integer} from 'vuelidate/lib/validators'
    import {createDriver} from '../../api/manager'
    import CitymobilDrivers from '../Utils/Form/CitymobilDrivers.vue'
    import YandextaxiDrivers from '../Utils/Form/YandextaxiDrivers.vue'
    import GettDrivers from '../Utils/Form/GettDrivers.vue'

    export default {

        components: {
            GettDrivers,
            CitymobilDrivers, YandextaxiDrivers},
        name: 'CreateDriver',
        data () {
            return {
                email: '',
                phone: '',
                username: '',
                password: '',
                password_confirmation: '',
                citymobil_id: '',
                yandextaxi_id: '',
                gett_id: '',
                inn: '',
                kpp: '',
                bank_acnt: '',
                bank_bik: '',
                payment_purpose :'',
                isLoading: false,
                serverErrors: []
            }
        },
        validations: {
            email: {
                email,
            },
            phone: {
                integer,
            },
            username: {
                required,
                maxLength: maxLength(250)
            },
            password: {
                required,
                minLength: minLength(6),
                maxLength: maxLength(250),
                sameAs: sameAs('password_confirmation')
            },
            password_confirmation: {
                sameAs: sameAs('password')
            },
            citymobil_id: {

            },
            yandextaxi_id: {

            },
            gett_id: {

            },
        },
        methods: {
            submit: function () {
                this.$v.$touch()
                if (!this.$v.$invalid && !this.isLoading) {
                    this.isLoading = true
                    createDriver(this.email, this.phone, this.username, this.password, this.password_confirmation, this.citymobil_id, this.yandextaxi_id, this.gett_id, this.inn,
                        this.kpp,
                        this.bank_acnt,
                        this.bank_bik,
                        this.payment_purpose).then((data) => {
                        this.isLoading = false
                        this.$router.push('/drivers')
                    }).catch((err) => {
                        console.log(err);
                        this.isLoading = false
                    })
                }
            },
            changeCitymobilDriver: function (event) {
                console.log(event)
                this.citymobil_id = event
            },
            changeYandextaxiDriver: function (event) {
                console.log(event)
                this.yandextaxi_id = event
            },
            changeGettDriver: function (event) {
                console.log(event)
                this.gett_id = event
            }
        },
    }
</script>