<template>
    <div>
        <sui-accordion fluid exclusive styled>
            <sui-accordion-title active>
                <sui-icon name="dropdown"/>
                Фильтр
            </sui-accordion-title>
            <sui-accordion-content active>
                <sui-form @submit.prevent="submit" size="tiny" fluid>
                    <sui-form-fields fields="four">
                        <sui-form-field>
                            <label>ФИО</label>
                            <sui-input v-model="name"/>
                        </sui-form-field>
                    </sui-form-fields>
                    <sui-button :loading="isLoading"  type="submit">Обновить</sui-button>
                </sui-form>
            </sui-accordion-content>
            <sui-accordion-title active>
                <sui-icon name="dropdown"/>
                Действия
            </sui-accordion-title>
            <sui-accordion-content active>
                <router-link class="ui primary button" :to="{ name: 'CreateDriver'}">Создать водителя</router-link>

            </sui-accordion-content>
        </sui-accordion>
        <sui-item-group divided unstackable>
            <sui-item v-for="item in items" :key="item.id" class="red">
                <sui-item-content>
                    <sui-item-header>{{item.name}}</sui-item-header>
                    <sui-item-meta>
                        <span class="price">{{item.phone}}</span>
                        <span class="stay right floated">{{item.email}}</span>
                    </sui-item-meta>
                    <router-link class="ui mini button" :to="{ name: 'UpdateDriver', params: { id: item.id }}">Изменить</router-link>
                </sui-item-content>
            </sui-item>

            <infinite-loading @infinite="infiniteHandler" :identifier="lastFilterUpdateMoment">
                <div slot="spinner">
                    <div class="ui active centered inline loader"></div>
                </div>
                <div slot="no-more" >Ничего не найдено</div>
                <div slot="error" slot-scope="{ trigger }">
                    Произошла ошибка, нажмите <a href="javascript:;" @click="trigger">здесь</a> для повторной загрузки
                </div>
            </infinite-loading>
        </sui-item-group>

    </div>

</template>

<script>
    import {drivers} from '../../api/manager'
    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        components: {
            InfiniteLoading
        },
        name: 'Drivers',
        data() {
            return {
                page: 1,
                isLoading: false,
                items: [],
                name: '',
                lastFilterUpdateMoment: Date.now()
            }
        },
        methods: {
            submit: function () {
                this.items = []
                this.lastFilterUpdateMoment = Date.now()
                this.page = 1
            },
            infiniteHandler($state) {
                if (!this.isLoading) {
                    this.isLoading = true;
                    drivers(this.page, this.name).then(({data, page}) => {
                        if (data.length) {
                            this.items.push(...data)
                            this.page = page + 1
                            $state.loaded()
                        }
                        else {
                            $state.complete()
                        }
                        this.isLoading = false
                    }).catch(() => {
                        $state.error()
                    }).finally(() => {
                        this.isLoading = false
                    })
                }
            },
        },


    }
</script>