<template>
    <sui-form @submit.prevent="submit" v-bind:loading="isLoading">
        <sui-form-field>
            <label>Перевести с ситимобил ({{balance_citymobil}})</label>
            <div class="ui left icon input">
                <input type="number" v-model="citymobil_transfer"
                       placeholder="0">
                <i class="ruble sign icon"></i>
            </div>
            </sui-form-field>
        <sui-form-field>
            <sui-checkbox
                    toggle
                    label="Переведено"
                    disabled
                    v-model="citymobil_transfer_complete" />
            <sui-button :loading="isLoadingCitymobil" basic v-on:click="changeCitymobilBalance">Перевести</sui-button>

        </sui-form-field>

        <sui-form-field>
            <label>Перевести с яндекса ({{balance_yandex}})</label>
            <div class="ui left icon input">
                <input type="number" v-model="yandextaxi_transfer" placeholder="0">
                <i class="ruble sign icon"></i>
            </div>
        </sui-form-field>

        <sui-form-field>
            <sui-checkbox
                    toggle
                    label="Переведено"
                    disabled
                    v-model="yandextaxi_transfer_complete" />
            <sui-button :loading="isLoadingYandex" basic v-on:click="changeYandextaxiBalance">Перевести</sui-button>

        </sui-form-field>

        <sui-form-field >
            <label>Перевести с gett ({{balance_gett}})</label>
            <div class="ui left icon input">
                <input type="number" v-model="gett_transfer" placeholder="0">
                <i class="ruble sign icon"></i>
            </div>
            </sui-form-field>

        <sui-form-field >
            <sui-checkbox
                    toggle
                    label="Переведено"
                    disabled
                    v-model="gett_transfer_complete" />
            <sui-button basic :loading="isLoadingGett" v-on:click="changeGettBalance">Перевести</sui-button>
        </sui-form-field>

        <sui-form-field >
            <label>Комментарий водителя</label>
            <div class="ui left icon input">
                <input disabled v-model="driver_comment" placeholder="">
                <i class="comment outline icon"></i>
            </div>
        </sui-form-field>
        <sui-form-field >
            <sui-checkbox
                    toggle
                    label="Переведено"
                    disabled
                    v-model="bank_transfer_complete" />
            <sui-button basic @click="sendMoneyToBank" :loading="sendingToBank">Перевести на счет в банке</sui-button>
        </sui-form-field>

        <sui-form-field v-bind:error="$v.manager_comment.$error">
            <label>Комментарий</label>
            <div class="ui left icon input">
                <input v-model="manager_comment" v-model.trim="$v.manager_comment.$model" placeholder="">
                <i class="comment outline icon"></i>
            </div>
            <sui-label v-if="$v.manager_comment.$error" basic color="red" pointing>
                Длинна комментария не должна превышать 250 символов
            </sui-label>
        </sui-form-field>
        <sui-checkbox
                toggle
                label="Успешно"
                v-model="success" />
        <sui-message v-if="serverErrors.length > 0" color="red" v-html="serverErrors.join('<br>')"/>
        <sui-button basic type="submit" v-on:click="close">Закрыть заявку</sui-button>
        </sui-form>
</template>

<script>
    import {maxLength, decimal} from 'vuelidate/lib/validators'
    import {updateClaim, balance, claim, changeCitymobilBalance, changeGettBalance, changeYandextaxiBalance} from '../../api/manager'
    import {sendToBank} from '../../api/bank'

    export default {

        name: 'UpdateClaim',
        props: [
            'id'
        ],
        data() {
            return {
                driver_id: null,
                driver_comment: '',
                citymobil_transfer: 0,
                yandextaxi_transfer: 0,
                gett_transfer: 0,
                manager_comment: '',
                success: false,
                isLoading: false,
                serverErrors: [],
                citymobil_transfer_complete: false,
                yandextaxi_transfer_complete: false,
                gett_transfer_complete: false,
                isLoadingCitymobil: false,
                isLoadingYandex: false,
                isLoadingGett: false,
                balance_citymobil: 0,
                balance_yandex: 0,
                balance_common: 0,
                balance_gett: 0,
                sendingToBank: false,
                bank_transfer_complete: false
            }
        },
        validations: {
            manager_comment: {
                maxLength: maxLength(255),
            },

        },
        methods: {
            submit: function () {

            },
            close: function () {
                this.$v.$touch()
                if (!this.$v.$invalid && !this.isLoading) {
                    this.isLoading = true
                    updateClaim(this.id, this.manager_comment, this.success).then((data) => {
                        this.isLoading = false
                        this.$router.push('/driver-claims')
                    }).catch((err) => {
                        this.isLoading = false
                    })
                }
            },
            changeCitymobilBalance: function () {
                if (!this.isLoadingCitymobil) {
                    this.isLoadingCitymobil = true;
                    changeCitymobilBalance(this.driver_id, this.citymobil_transfer).then((data) => {
                        this.isLoadingCitymobil = false;
                        this.citymobil_transfer_complete = data;
                        if (this.citymobil_transfer_complete) {
                            this.balance_citymobil = this.balance_citymobil - this.citymobil_transfer;
                        }
                    }).catch((err) => {
                        this.isLoadingCitymobil = false;
                        this.citymobil_transfer_complete = false;
                    })
                }
            },
            changeYandextaxiBalance: function () {
                if (!this.isLoadingYandex) {
                    this.isLoadingYandex= true;
                    changeYandextaxiBalance(this.driver_id, this.yandextaxi_transfer).then((data) => {
                        this.isLoadingYandex = false;
                        this.yandextaxi_transfer_complete = data;
                        if (this.yandextaxi_transfer_complete) {
                            this.balance_yandex = this.balance_yandex - this.yandextaxi_transfer;
                        }
                    }).catch((err) => {
                        this.isLoadingYandex = false;
                        this.yandextaxi_transfer_complete = false;
                    })
                }
            },
            changeGettBalance: function () {
                if (!this.isLoadingGett) {
                    this.isLoadingGett = true;
                    changeGettBalance(this.driver_id, this.gett_transfer).then((data) => {
                        this.isLoadingGett = false;
                        this.gett_transfer_complete = data;
                        if (this.gett_transfer_complete) {
                            this.balance_gett = this.balance_gett - this.gett_transfer;
                        }
                    }).catch((err) => {
                        this.isLoadingGett = false;
                        this.gett_transfer_complete = false;
                    })
                }
            },
            sendMoneyToBank: function() {
                if (!this.sendingToBank) {
                    let amount = 0;
                    if (this.yandextaxi_transfer_complete) {
                        amount = amount + this.yandextaxi_transfer;
                    }
                    if (this.citymobil_transfer_complete) {
                        amount = amount + this.citymobil_transfer;
                    }
                    if (this.gett_transfer_complete) {
                        amount = amount + this.gett_transfer;
                    }
                    if (amount > 0) {
                        this.sendingToBank = true;
                        sendToBank(this.id, amount).then((response) => {
                            this.manager_comment = this.manager_comment + 'Номер платежного поручения: '.this.id;
                            this.bank_transfer_complete = true;
                            this.sendingToBank = false;
                        }).catch((error) => {
                            this.sendingToBank = false;
                        });
                    }
                }


            }
        },
        created() {
            this.isLoading = true;
            claim(this.id).then(claim => {
                console.log(claim)
                this.driver_id = claim.driver_id
                this.citymobil_transfer = claim.citymobil_transfer
                this.yandextaxi_transfer = claim.yandextaxi_transfer
                this.gett_transfer = claim.gett_transfer
                this.driver_comment = claim.driver_comment
                this.success = claim.success
                this.isLoading = false
                balance(this.driver_id).then(balance => {
                    this.balance_citymobil = balance.citymobil
                    this.balance_yandex = balance.yandex
                    this.balance_common = balance.common
                    this.balance_gett = balance.gett
                }).catch(err => {
                    console.log(err)
                })
            }).catch(err => {
                console.log(err)
                this.isLoading = false;
            });
        },
    }
</script>