<template>
    <div>
        <sui-accordion fluid exclusive styled>
            <sui-accordion-title active>
                <sui-icon name="dropdown"/>
                Баланс
            </sui-accordion-title>
            <sui-accordion-content>
                <sui-form @submit.prevent="submit" v-bind:loading="isLoadingBalance">
                    <sui-form-field>
                        <label>Перевести с ситимобил ({{balance_citymobil}})</label>
                        <div class="ui left icon input">
                            <input type="number" v-model="citymobil_transfer"
                                   placeholder="0">
                            <i class="ruble sign icon"></i>
                        </div>
                    </sui-form-field>
                    <sui-form-field>
                        <sui-checkbox
                                toggle
                                label="Переведено"
                                disabled
                                v-model="citymobil_transfer_complete"/>
                        <sui-button :loading="isLoadingCitymobil" basic v-on:click="changeCitymobilBalance">Перевести
                        </sui-button>

                    </sui-form-field>

                    <sui-form-field>
                        <label>Перевести с яндекса ({{balance_yandex}})</label>
                        <div class="ui left icon input">
                            <input type="number" v-model="yandextaxi_transfer" placeholder="0">
                            <i class="ruble sign icon"></i>
                        </div>
                    </sui-form-field>

                    <sui-form-field>
                        <sui-checkbox
                                toggle
                                label="Переведено"
                                disabled
                                v-model="yandextaxi_transfer_complete"/>
                        <sui-button :loading="isLoadingYandex" basic v-on:click="changeYandextaxiBalance">Перевести
                        </sui-button>

                    </sui-form-field>

                    <sui-form-field>
                        <label>Перевести с gett ({{balance_gett}})</label>
                        <div class="ui left icon input">
                            <input type="number" v-model="gett_transfer" placeholder="0">
                            <i class="ruble sign icon"></i>
                        </div>
                    </sui-form-field>

                    <sui-form-field>
                        <sui-checkbox
                                toggle
                                label="Переведено"
                                disabled
                                v-model="gett_transfer_complete"/>
                        <sui-button basic :loading="isLoadingGett" v-on:click="changeGettBalance">Перевести</sui-button>
                    </sui-form-field>
                </sui-form>
            </sui-accordion-content>
        </sui-accordion>
        <br>
        <sui-form @submit.prevent="submit" v-bind:loading="isLoading">
            <sui-form-field v-bind:error="$v.email.$error" required>
                <label>Email</label>
                <div class="ui left icon input">
                    <input v-model="email" v-model.trim="$v.email.$model" placeholder="ivanov.ivan@mail.ru">
                    <i class="at icon"></i>
                </div>
                <sui-label v-if="$v.email.$error" basic color="red" pointing>Введите Email</sui-label>
            </sui-form-field>
            <sui-form-field v-bind:error="$v.phone.$error" required>
                <label>Телефон</label>
                <div class="ui left icon input">
                    <input type="tel" v-model="phone" v-model.trim="$v.phone.$model" placeholder="9990002255"
                           maxlength="10" minlength="10">
                    <i class="phone icon"></i>
                </div>
                <sui-label v-if="$v.phone.$error" basic color="red" pointing>
                    Введите телефон в формате 9990002255 (без 8 и +7)
                </sui-label>
            </sui-form-field>
            <sui-form-field v-bind:error="$v.username.$error" required>
                <label>ФИО</label>
                <div class="ui left icon input">
                    <input v-model.trim="$v.username.$model" placeholder="Иванов Иван Иванович">
                    <i class="at user icon"></i>
                </div>
                <sui-label v-if="$v.username.$error" basic color="red" pointing>Введите ФИО</sui-label>
            </sui-form-field>
            <sui-form-field>
                <label>ИНН</label>
                <div class="ui  input">
                    <input type="text" v-model="inn">
                </div>
            </sui-form-field>
            <sui-form-field>
                <label>КПП</label>
                <div class="ui input">
                    <input type="text" v-model="kpp">
                </div>
            </sui-form-field>
            <sui-form-field>
                <label>Счет получателя</label>
                <div class="ui input">
                    <input type="text" v-model="bank_acnt">
                </div>
            </sui-form-field>
            <sui-form-field>
                <label>Бик банка</label>
                <div class="ui input">
                    <input type="text" v-model="bank_bik">
                </div>
            </sui-form-field>

            <sui-form-field>
                <label>Название платежа</label>
                <div class="ui input">
                    <input type="text" v-model="payment_purpose">
                </div>
            </sui-form-field>
            <sui-form-field v-bind:error="$v.citymobil_id.$error" required>
                <label>Водитель ситимобил</label>
                <citymobil-drivers v-on:input="changeCitymobilDriver" :current_id="citymobil_id"></citymobil-drivers>
                <sui-label v-if="$v.citymobil_id.$error" basic color="red" pointing>Выберите водителя Ситимобил
                </sui-label>
            </sui-form-field>
            <sui-form-field v-bind:error="$v.yandextaxi_id.$error" required>
                <label>Водитель яндекс такси</label>
                <yandextaxi-drivers v-on:input="changeYandextaxiDriver"
                                    :current_id="yandextaxi_id"></yandextaxi-drivers>
                <sui-label v-if="$v.yandextaxi_id.$error" basic color="red" pointing>Выберите водителя яндекс такси
                </sui-label>
            </sui-form-field>
            <sui-form-field v-bind:error="$v.gett_id.$error" required>
                <label>Водитель Gett</label>
                <gett-drivers v-on:input="changeGettDriver" :current_id="gett_id"></gett-drivers>
                <sui-label v-if="$v.gett_id.$error" basic color="red" pointing>Выберите водителя Gett</sui-label>
            </sui-form-field>
            <sui-form-field v-bind:error="$v.password.$error" required>
                <label>Пароль</label>
                <div class="ui left icon input">
                    <input v-model.trim="$v.password.$model" type="password" placeholder="Введите пароль">
                    <i class="lock icon"></i>
                </div>
                <sui-label v-if="$v.password.$error" basic color="red" pointing>Пароль должен быть не менее 6 символов
                </sui-label>
            </sui-form-field>
            <sui-form-field v-bind:error="$v.password_confirmation.$error" required>
                <label>Подтверждение пароля</label>
                <div class="ui left icon input">
                    <input v-model.trim="$v.password_confirmation.$model" type="password"
                           placeholder="Введите пароль еще раз">
                    <i class="lock icon"></i>
                </div>
                <sui-label v-if="$v.password_confirmation.$error" basic color="red" pointing>Пароли должны совпадать
                </sui-label>
            </sui-form-field>
            <sui-message v-if="serverErrors.length > 0" color="red" v-html="serverErrors.join('<br>')"/>
            <sui-button basic type="submit" v-on:click="save">Обновить</sui-button>
        </sui-form>
    </div>
</template>

<script>
    import {email, required, sameAs, minLength, maxLength, integer} from 'vuelidate/lib/validators'
    import {
        updateDriver,
        driver,
        changeCitymobilBalance,
        changeGettBalance,
        changeYandextaxiBalance,
        balance
    } from '../../api/manager'
    import CitymobilDrivers from '../Utils/Form/CitymobilDrivers.vue'
    import YandextaxiDrivers from '../Utils/Form/YandextaxiDrivers.vue'
    import GettDrivers from '../Utils/Form/GettDrivers.vue'

    export default {

        components: {CitymobilDrivers, YandextaxiDrivers, GettDrivers},
        name: 'UpdateDriver',
        props: [
            'id'
        ],
        data() {
            return {
                email: '',
                phone: '',
                username: '',
                password: '',
                password_confirmation: '',
                citymobil_id: '',
                yandextaxi_id: '',
                gett_id: '',
                inn: '',
                kpp: '',
                bank_acnt: '',
                bank_bik: '',
                payment_purpose :'',
                isLoading: true,
                isLoadingBalance: true,
                serverErrors: [],

                citymobil_transfer: 0,
                yandextaxi_transfer: 0,
                gett_transfer: 0,
                citymobil_transfer_complete: false,
                yandextaxi_transfer_complete: false,
                gett_transfer_complete: false,
                isLoadingCitymobil: false,
                isLoadingYandex: false,
                isLoadingGett: false,
                balance_citymobil: 0,
                balance_yandex: 0,
                balance_common: 0,
                balance_gett: 0,
            }
        },
        validations: {
            email: {
                email,
            },
            phone: {
                integer,
            },
            username: {
                required,
                maxLength: maxLength(250)
            },
            password: {
                minLength: minLength(6),
                maxLength: maxLength(250),
                sameAs: sameAs('password_confirmation')
            },
            password_confirmation: {
                sameAs: sameAs('password')
            },
            citymobil_id: {},
            yandextaxi_id: {},
            gett_id: {},
        },
        created() {
            driver(this.id).then(driver => {
                console.log(driver)
                this.email = driver.email
                this.phone = driver.phone
                this.username = driver.name
                this.citymobil_id = driver.citymobil_id
                this.yandextaxi_id = driver.yandextaxi_id
                this.gett_id = driver.gett_id
                this.inn= driver.inn
                this.kpp= driver.kpp
                this.bank_acnt= driver.bank_acnt
                this.bank_bik= driver.bank_bik
                this.payment_purpose = driver.payment_purpose

                balance(this.id).then(balance => {
                    this.balance_citymobil = balance.citymobil
                    this.balance_yandex = balance.yandex
                    this.balance_common = balance.common
                    this.balance_gett = balance.gett
                    this.isLoadingBalance = false
                }).catch(err => {
                    console.log(err)
                    this.isLoadingBalance = false
                })
                this.isLoading = false
            }).catch(err => {
                console.log(err)
            })
        },
        methods: {
            submit: function () {

            },
            save: function () {
                this.$v.$touch()
                if (!this.$v.$invalid && !this.isLoading) {
                    this.isLoading = true;
                    updateDriver(this.id, this.email, this.phone, this.username, this.password, this.password_confirmation, this.citymobil_id, this.yandextaxi_id, this.gett_id, this.inn,
                        this.kpp,
                        this.bank_acnt,
                        this.bank_bik,
                        this.payment_purpose).then((data) => {
                        this.isLoading = false;
                        this.$router.push('/drivers')
                    }).catch((err) => {
                        this.isLoading = false
                    })
                }
            },
            changeCitymobilDriver: function (event) {
                console.log(event)
                this.citymobil_id = event
            },
            changeYandextaxiDriver: function (event) {
                console.log(event)
                this.yandextaxi_id = event
            },
            changeGettDriver: function (event) {
                console.log(event)
                this.gett_id = event
            },
            changeCitymobilBalance: function () {
                if (!this.isLoadingCitymobil) {
                    this.isLoadingCitymobil = true;
                    changeCitymobilBalance(this.id, this.citymobil_transfer).then((data) => {
                        this.isLoadingCitymobil = false;
                        this.citymobil_transfer_complete = data;
                        if (this.citymobil_transfer_complete) {
                            this.balance_citymobil = this.balance_citymobil - this.citymobil_transfer;
                        }
                    }).catch((err) => {
                        this.isLoadingCitymobil = false;
                        this.citymobil_transfer_complete = false;
                    })
                }
            },
            changeYandextaxiBalance: function () {
                if (!this.isLoadingYandex) {
                    this.isLoadingYandex = true;
                    changeYandextaxiBalance(this.id, this.yandextaxi_transfer).then((data) => {
                        this.isLoadingYandex = false;
                        this.yandextaxi_transfer_complete = data;
                        if (this.yandextaxi_transfer_complete) {
                            this.balance_yandex = this.balance_yandex - this.yandextaxi_transfer;
                        }
                    }).catch((err) => {
                        this.isLoadingYandex = false;
                        this.yandextaxi_transfer_complete = false;
                    })
                }
            },
            changeGettBalance: function () {
                if (!this.isLoadingGett) {
                    this.isLoadingGett = true;
                    changeGettBalance(this.id, this.gett_transfer).then((data) => {
                        this.isLoadingGett = false;
                        this.gett_transfer_complete = data;
                        if (this.gett_transfer_complete) {
                            this.balance_gett = this.balance_gett - this.gett_transfer;
                        }
                    }).catch((err) => {
                        this.isLoadingGett = false;
                        this.gett_transfer_complete = false;
                    })
                }
            }
        },
    }
</script>