<template lang="html">
  <sui-form @submit.prevent="submit" v-bind:loading="isLoading">

    <sui-form-field v-bind:error="$v.login.$error||isError" required>
      <label>Логин</label>
      <div class="ui left icon input">
        <input v-model="login" v-model.trim="$v.login.$model" placeholder="ivan.ivanov@mail.ru или 9990008822" >
        <i class="user icon"></i>
      </div>
      <sui-label v-if="$v.login.$error" basic color="red" pointing>Введите email или телефон</sui-label>
    </sui-form-field>
    <sui-form-field v-bind:error="$v.password.$error||isError" required>
      <label>Пароль</label>
      <div class="ui left icon input">
        <input v-model.trim="$v.password.$model" type="password" placeholder="Введите пароль" >
        <i class="lock icon"></i>
      </div>
      <sui-label v-if="$v.password.$error" basic color="red" pointing>Пароль должен быть не менее 6 символов</sui-label>
    </sui-form-field>
    <sui-message v-if="isError" content="Пользователь не найден или пароль неверен." color="red" />
    <sui-button primary  basic type="submit">Войти</sui-button>
  </sui-form>
</template>

<script>
    import {AUTH_REQUEST} from '../../store/consts/auth'
    import {email, required, minLength, maxLength, or, integer} from 'vuelidate/lib/validators'

    export default {
        name: 'Login',
        data () {
            return {
                login: '',
                password: '',
                isLoading: false,
                isError: false,
            }
        },
        validations: {
            login: {
                required,
                or: or(email, integer),
            },
            password: {
                required,
                minLength: minLength(6),
                maxLength: maxLength(250),
            },
        },
        methods: {
            submit: function () {
                this.$v.$touch()
                if (!this.$v.$invalid) {
                    this.isLoading = true
                    this.isError = false
                    const {login, password} = this
                    this.$store.dispatch(AUTH_REQUEST, {login, password}).then(() => {
                        this.$router.push('/home')
                        this.isLoading = false
                        this.isError =true
                    }).catch((err) => {
                        console.log(err)
                        this.isLoading = false
                        this.isError = true
                    })
                }
            }
        },
    }
</script>