<template lang="html">
  <sui-form @submit.prevent="submit" v-bind:loading="isLoading">
    <sui-form-field v-bind:error="$v.email.$error" required>
      <label>Email</label>
      <div class="ui left icon input">
        <input v-model="email" v-model.trim="$v.email.$model" placeholder="ivanov.ivan@mail.ru" >
        <i class="user icon"></i>
      </div>
      <sui-label v-if="$v.email.$error" basic color="red" pointing>Введите Email</sui-label>
    </sui-form-field>
    <sui-form-field v-bind:error="$v.username.$error" required>
      <label>ФИО</label>
      <div class="ui left icon input">
        <input v-model.trim="$v.username.$model" placeholder="Иванов Иван Иванович" >
        <i class="at  icon"></i>
      </div>
      <sui-label v-if="$v.username.$error" basic color="red" pointing>Введите ФИО</sui-label>
    </sui-form-field>
    <sui-form-field v-bind:error="$v.password.$error" required>
      <label>Пароль</label>
      <div class="ui left icon input">
        <input v-model.trim="$v.password.$model" type="password" placeholder="Введите пароль" >
        <i class="lock icon"></i>
      </div>
      <sui-label v-if="$v.password.$error" basic color="red" pointing>Пароль должен быть не менее 6 символов</sui-label>
    </sui-form-field>
    <sui-form-field v-bind:error="$v.password_confirmation.$error" required>
      <label>Подтверждение пароля</label>
      <div class="ui left icon input">
        <input v-model.trim="$v.password_confirmation.$model" type="password" placeholder="Введите пароль еще раз" >
        <i class="lock icon"></i>
      </div>
      <sui-label v-if="$v.password_confirmation.$error" basic color="red" pointing>Пароли должны совпадать</sui-label>
    </sui-form-field>
    <sui-message v-if="serverErrors.length > 0" color="red" v-html="serverErrors.join('<br>')"/>
    <sui-button positive basic type="submit">Зарегистрироваться</sui-button>
  </sui-form>
</template>

<script>
    import {AUTH_REGISTER} from '../../store/consts/auth'
    import {email, required, sameAs, minLength, maxLength} from 'vuelidate/lib/validators'

    export default {
        name: 'Registration',
        data () {
            return {
                email: '',
                username: '',
                password: '',
                password_confirmation: '',
                isLoading: false,
                serverErrors: []
            }
        },
        validations: {
            email: {
                required,
                email,
            },
            username: {
                required,
                maxLength: maxLength(250)
            },
            password: {
                required,
                minLength: minLength(6),
                maxLength: maxLength(250),
                sameAs: sameAs('password_confirmation')
            },
            password_confirmation: {
                sameAs: sameAs('password')
            }
        },
        methods: {
            submit: function () {
                this.$v.$touch()
                if (!this.$v.$invalid) {
                    this.isLoading = true
                    const { email, username, password, password_confirmation } = this
                    this.$store.dispatch(AUTH_REGISTER, { email, username, password, password_confirmation }).then(() => {
                        this.isLoading = false
                        this.$router.push('/home')
                    }).catch((err) => {
                        this.isLoading = false
                        console.log(err)
                    })
                }
            },
        },
    }
</script>